<p>header works!</p>
<nav class="navbar navbar-dark bg-dark navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active " class="nav-item">
                <a routerLink="movies" class="nav-link">Films</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="auth/signup" class="nav-link">Créer un compte</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="auth/signin" class="nav-link">Connexion</a>
            </li>
        </ul>
    </div>

</nav>
